html
{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
    color:#1a1d1f;
}

a{
    color: #033f5e;
    text-decoration:none;
}

a:hover{
    color:#009ced;
    text-decoration:underline;
}
%nostyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.container{
    width: 85%;
    margin : 0 auto;
}

.page-header{  
    position: fixed;
    top: 0;  
    width: 100%;
    background: black;
    color: white;
    z-index: 6; /*置頂*/
}

.page-header .container p{
    margin: 10px;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.main-menu{      
    background: white;
    width: 100%;
    border: 1px rgb(169, 175, 182) solid;
    margin: 0;
    height: 56px;     /*跟前面有點不一樣 不知道那裡的問題*/
    z-index: 5; /*置頂*/
    /* position: fixed; */
    align-self: center; 
    top: 16px;
    position: relative;
    button{
        display:none;
    }
}

.main-menu .container{
    height: 58px;     /*跟前面有點不一樣 不知道那裡的問題*/
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.main-menu .menu-choose {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-menu .menu-choose li{
    flex: 0 0 42%;
}

.main-menu .menu-choose a{
    display: block;
    height: 54px;
    line-height: 54px;
    color:black;
    text-align: center;
    text-decoration: none;
} 

.main-menu .menu-choose a:hover{
    color: white;
    background: black;
}

.main-menu .menu-website {
    font-size: 1.5em;
    display: flex;    
    list-style: none;
}

.main-menu .menu-website a{
    color: #363c3f;
    display: block;
    height: 54px;
    width: 80px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
}

.main-menu .menu-website a:hover{
    color: rgb(185, 185, 221);    
}

.main-menu .external-link{
    list-style: none;
    display: flex;
    position: relative;
    li:last-child::before {
      content: "1";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: red;
      color: #fff;
      font-size: 13px;
      text-align: center;
      line-height: 15px;
      border-radius: 50%;
      top: -8px;
      left: 163px;
    }
}

.main-menu .external-link i{
    padding-right:20px;
}

.back{
    top: 100px;
    height: 30px;
    margin: 40px 20px 25px;
}

.back i{
    margin: 0 0 0 15px;
    padding-right: 10px;
}

.shoppingcart {
    ul.cart {
      @extend %nostyle-list;
      display: flex;
      .cart-l {
        position: relative;
        flex: 1 0 0;
        ul {
          @extend %nostyle-list;
          display: flex;
          img {
            max-width: 100px;
          }
          div {
            margin: 0 0 0 10px;
          }
        }
        input {
          width: 80px;
        }
      }
      .cart-r {
        flex: 0 0 45%;
        ul {
          @extend %nostyle-list;
          display: flex;
          height: 100%;
          align-items: center;
          li {
            flex: 1 0 0;
            input {
              width: 90%;
            }
          }
          li:last-child {
            text-align: end;
          }
        }
        input.end {
          width: 100%;
          margin: 10px 0;
          height: 30px;
          border: none;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

.mail {
    background-color: #ddd;
    padding: 30px 0;
    h2 {
      color: #000;
      display: block;
      text-align: center;
      margin: 0;
    }
    form {
      position: relative;
      width: 500px;
      margin: 0 auto;
    }
    input {
      display: block;
      height: 30px;
      width: 475px;
      border: none;
      border-bottom: #555 1px solid;
      background-color: transparent;
      padding-left: 25px;
    }
    input.button {
      width: 500px;
      border: none;
      background-color: #000;
      color: #fff;
      margin-top: 10px;
      padding: 0;
    }
    i {
      position: absolute;
      top: 10px;
      left: 5px;
    }
  }

  .footer-top {
    background-color: #000;
    height: 35px;
    ul {
      margin:0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }
    li {      
      margin: 0 15px;
      line-height: 35px;
      a{        
        display: block;
        color: #fff;
        text-decoration: none;
        height: 35px;
        width: 80px;
        line-height: 31px;
        text-align: center;
      }
      a:hover{
        background: white;
        color:black;
      }
    }
  }
  
  .footer-bottom {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #ddd;
  }
  
.footer-bottom {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #ddd;
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 880px) {}

@media screen and (max-width: 767px) {
    .mail {
        form {
          width: 400px;
        }
        input {
          width: 375px;
        }
        input.button {
          width: 400px;
        }
      }
}

@media screen and (max-width: 640px) {
    .main-menu{
        height: 91px;
        .container{
            flex-direction: column;
            align-items: center;
            width: 100%; 
            display: flex;  
        }

        ul{
            margin: 0 0;
        }

        ul:nth-last-of-type(2){
            position: relative;
            top:-25px;
            margin-left: -45px;
        }

        ul:nth-of-type(3){
            position: relative;
            top:-5px;
            margin-left: -10px;
        }

        ul:nth-of-type(1){
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 95px;
            width: 100%;
            background: rgba(255, 255, 255, 0.473);
            z-index: 10;
            padding: 0;
            li{
              padding: 5px;
            }
        }

        button{
            display: block;
            position: relative;
            top: 70px;
            background: #FFF;
            border:none;
            width: 100%;
            height: 40px;
            z-index: 10;
            i{
              margin-left:5px;
            }
          }
    }

    .footer-top {
        height: auto;
        text-align: center;
        ul {
          flex-direction: column;
        }
        li {      
            a{
                display: inline-block;
            }
        }
      }
}